
.popup__error{
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  opacity: 0;
  transition: 0.3s;
  display: block;
  min-block-size: 15px;
  margin-top: 5px;
}